.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store
node_modules/
dist/
test.txt
convert_m4a_to_mp3.py
*.m4a
m4a_originals/
moved_m4a_originals/